{% for lm in language_models %}
<script type="text/template" id="template-{{ lm.id }}" class="lm-template">
    <div class="required-fields">
    {% for field in lm.fields %}
        {% include "lm/field.html" %}
    {% endfor %}
    </div>
    {% if lm.optional_fields %}
    <div class="collapser optional">
    <a class="expand" data-toggle="collapse" href="#template-lm-options" aria-expanded="false" aria-controls="template-lm-options">
        Optional Fields<span class="glyphicon glyphicon-chevron-right expand-arrow" aria-hidden="true"></span>
    </a>
    
    <div class="optional-fields collapse" id="template-lm-options">
        {% for field in lm.optional_fields %}
            {% include "lm/field.html" %}
        {% endfor %}
    </div>
    </div>
    {% endif %}
</script>
{% endfor %}

<script type="text/template" id="template-select">
<select id="template-select" class="form-control hidden">
    <option value="0">------------</option>
    {% for lm in language_models %}
        <option value="{{ lm.id }}">{{ lm.name }}</option>
    {% endfor %}
</script>

<script type="text/template" id="template-lm-box">
<div class="lm-block panel panel-primary panel-default collapser" id="template-lm">
    <div class="lm-block-snappable" id="template-lm-snappable"></div>
     <div class="panel-heading">
         <a class="expand" data-toggle="collapse" href="#template-lm-panel-body" aria-expanded="false" aria-controls="template-lm-panel-body">
             <span class="pre-title">LM</span> <span class="title"></span>
             <span class="glyphicon glyphicon-chevron-down expand-arrow" aria-hidden="true"></span>
         </a>
         <span class="delete glyphicon glyphicon-remove"></span>
     </div>
    <div class="panel-body collapse in" id="template-lm-panel-body">
    <div class="form-group lm-selector">
        <label for="lm" class="col-sm-3 control-label">Language Model</label>
        <div class="col-sm-9">
            <select class="lm-select form-control">
            </select>
        </div>
    </div>
    <div class="lm-fields">
    </div>
    </div>
</div>
</script>


<script type="text/template" id="right-arrow">
    <span class="glyphicon glyphicon-triangle-right"></span>
</script>

<script type="text/template" id="template-helper">
    <div class="lm-helper" href="">
        New LM
    </div>
</script>

<script type="text/template" id="template-add-lm-many">
    <div class="lm">
        <span class="glyphicon glyphicon-remove delete-from-list"></span>
        <input type="number" step="0.1" class="form-control inline float">
        <span class="glyphicon glyphicon-plus add-lm"></span>
    </div>
</script>
