{% extends "base.html" %}

{% block content %}

<h2>LSVLM</h2>

<div class="row main-page-rows">
    <a href="{% url 'corpora:index' %}">
        <div class="col-md-3">
            <h4>Corpus Management</h4>
            <ul class="list-unstyled">
                <li>Upload new corpora files</li>
                <li>Edit and view existing corpora</li>
            </ul>
        </div>
    </a>
    <a href="{% url 'lm:index' %}">
        <div class="col-md-3">
            <h4>Language Models</h4>
            <ul class="list-unstyled">
                <li>Create and edit language models</li>
                <li>Train language models</li>
                <li>Download ARPA output for an LM</li>
            </ul>
        </div>
    </a>
    <a href="{% url 'experiments:index' %}">
        <div class="col-md-3">
            <h4>Run Experiments</h4>
            <ul class="list-unstyled">
                <li>Run experiments on test corpora using a trained language model</li>
            </ul>
        </div>
    </a>
</div>

{% endblock %}